---
- name: Deploy Common Configuration
  hosts: all
  become: true
  vars_files:
    - ../group_vars/all/vars.yml
    - ../group_vars/all/vault.yml
  roles:
    - common

- name: Deploy Database and API Backend
  hosts: appservers
  become: true
  vars_files:
    - ../group_vars/all/vars.yml
    - ../group_vars/all/vault.yml
  roles:
    - postgresql
    - nodejs

- name: Deploy Web Frontend
  hosts: webservers
  become: true
  vars_files:
    - ../group_vars/all/vars.yml
    - ../group_vars/all/vault.yml
  roles:
    - nginx
