---
- name: Install PostgreSQL packages
  apt:
    name:
      - postgresql
      - python3-psycopg2
      - acl
    state: present

- name: Start and enable PostgreSQL service
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Create database user
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    role_attr_flags: CREATEDB

- name: Create database
  become: yes
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ db_user }}"

- name: Copy initialization script
  template:
    src: init.sql.j2
    dest: /tmp/init.sql
    mode: '0644'

- name: Initialize database table
  become: yes
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"
    state: restore
    target: /tmp/init.sql

